In [53]:
import pandas as pd
import numpy as np
from sklearn import preprocessing
from sklearn.cluster import KMeans

In [54]:
df = pd.read_excel('titanic.xls')
df.drop(['body', 'name'], 1, inplace=True)
df.fillna(0, inplace=True)
df.head()

,pclass,survived,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,home.dest
0,1,1,female,29.0000,0,0,24160,211.3375,B5,S,2,"St Louis, MO"
1,1,1,male,0.9167,1,2,113781,151.5500,C22 C26,S,11,"Montreal, PQ / Chesterville, ON"
2,1,0,female,2.0000,1,2,113781,151.5500,C22 C26,S,0,"Montreal, PQ / Chesterville, ON"
3,1,0,male,30.0000,1,2,113781,151.5500,C22 C26,S,0,"Montreal, PQ / Chesterville, ON"
4,1,0,female,25.0000,1,2,113781,151.5500,C22 C26,S,0,"Montreal, PQ / Chesterville, ON"

In [55]:
def handle_non_numerical_data(df):
    columns = df.columns.values

    for column in columns:
        text_digit_vals = {}
        def convert_to_int(val):
            return text_digit_vals[val]
        
        if df[column].dtype != np.int64 and df[column].dtype != np.float64:
            column_contents = df[column].values.tolist()
            unique_elements = set(column_contents)
            x = 0
            for unique in unique_elements:
                if unique not in text_digit_vals:
                    text_digit_vals[unique] = x
                    x += 1
            
            df[column] = list(map(convert_to_int, df[column]))
    return df
df = handle_non_numerical_data(df)
#df.drop(['ticket'], 1, inplace=True)
df.drop(['ticket','home.dest'], 1, inplace=True)

In [56]:
X = np.array(df.drop(['survived'], 1).astype(float))
X = preprocessing.scale(X)
y = np.array(df['survived'])

clf = KMeans(n_clusters=2)
clf.fit(X)

correct = 0
for i in range(len(X)):
    predict_me = np.array(X[i].astype(float))
    predict_me = predict_me.reshape(-1, len(predict_me))
    prediction = clf.predict(predict_me)
    if prediction[0] == y[i]:
        correct += 1
print(correct / len(X))

0.3025210084033613

In [70]:
df.groupby('survived').size()

df2 = df[df['survived'] == 1]

#print(809 / 1309)
#print(500 / 1309)

<bound method DataFrame.nunique of       pclass  survived  sex      age  sibsp  parch      fare  cabin  embarked  \
0          1         1    1  29.0000      0      0  211.3375     59         2
1          1         1    0   0.9167      1      2  151.5500    109         2
5          1         1    0  48.0000      0      0   26.5500     84         2
6          1         1    1  63.0000      1      0   77.9583    170         2
8          1         1    1  53.0000      2      0   51.4792    151         2
...      ...       ...  ...      ...    ...    ...       ...    ...       ...
1261       3         1    1  63.0000      0      0    9.5875      0         2
1277       3         1    0  22.0000      0      0    7.2250      0         1
1286       3         1    1  38.0000      0      0    7.2292      0         1
1290       3         1    1  47.0000      1      0    7.0000      0         2
1300       3         1    1  15.0000      1      0   14.4542      0         1

      boat
0        1
1       11
5        4
6       24
8       15
...    ...
1261     6
1277     2
1286    21
1290     0
1300     0

[500 rows x 10 columns]>